<launch>
    <!-- This launch file launches the required nodes for navigating to saved locations from web app and save detections in the db  -->

    <!-- Include the turtlebot3_navigation.launch file -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <!-- Pass the map_file parameter -->
        <arg name="map_file" value="$(find jimmy_simulations_pkg)/maps/turtlebot3_waffle_pi/map.yaml"/>
    </include>

</launch>